

body {
	background-image: url(../images/background.png);
	font-family: 'Abril Fatface', cursive;
}

h1 {
	text-align: center;
}

#container {
	width: 700px;
	margin: 0 auto;
	background-color: white;
}

ul {
	margin: 0;
	padding: 0;
}
li {
	text-align: center;
	list-style: none;
}

.left-container {
	float: left;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 1px solid #1ed147;
	display: inline-block;
	width: 45%;
	background-color: white;
	margin: 10px 10px 10px 10px;
}

.right-container {
	float: right;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 1px solid #1ed147;
	display: inline-block;
	width: 45%;
	background-color: white;
	margin: 10px 10px 10px 10px;
}

.dashed {
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 2px dashed #ed6b6b;
}