

body {
	background-image: url(../images/background.png);
	font-family: 'Abril Fatface', cursive;
}

header > h1 {
	margin: 0;
}

#container {
	margin: 0 auto;
	width: 700px;
}

.left-container, .right-container {
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 1px solid #1ed147;
	display: inline-block;
	width: 325px;
	min-height: 150px;
	background-color: white;
	margin: 10px 10px 10px 10px;
}

.dashed {
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 2px dashed #ed6b6b;
}

.adopted {
/*  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;*/
}

h1 {
	text-align: center;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	display: block;
	margin: 0 auto;
	list-style: none;
}