<!DOCTYPE html>

<html ng-app="kittiesApp">
	<head>
		<meta charset="utf-8">

		<title>Save The Kitties!</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/normalize.css">
		<link href='http://fonts.googleapis.com/css?family=Cuprum:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/style.css">

		<script src="js/angular.js"></script>
		<script src="js/main.js"></script>
		<script src="js/KittiesController.js"></script>
	</head>

	<body>
	<!-- Used to test the app & controller -->
	<!-- {{kitties.kittiesList}} -->
		<header>
			<h1>Save The Kitties!</h1>
		</header>
		<!-- Start Main Container -->
		<div id="container" ng-controller="KittiesController as kitties">
			<div class="left-container">
			<h2>Kitties for Adoption</h2>
				<ul>
					<li class="dashed" ng-repeat="kitty in kitties.kittiesList | filter:kitty.adopted=false">
						<h3>My name is {{ kitty.catName }}</h3>
						I am {{ kitty.monthsOld }} months old.<br />
						I am a {{ kitty.gender }}.
						<br />
						<img ng-src="{{kitty.image}}"><br />
						Adopt? <input type="checkbox" ng-model="kitties.adopted">
					</li>
				</ul>
			</div><!-- End left Container -->

			<div class="right-container">
			<h2>At their forever homes <3</h2>
				<ul>
					<li class="dashed" ng-repeat="kitty in kitties.kittiesList | filter:kitty.adopted=true">
						<h3>My name is {{ kitty.catName }}</h3>
						I am {{ kitty.monthsOld }} months old.<br />
						I am a {{ kitty.gender }}.
						<br />
						<img ng-src="{{kitty.image}}"><br />
						Adopt? <input type="checkbox" ng-model="kitties.adopted">
					</li>
				</ul>
			</div><!-- End Right Container -->

		</div> <!-- End Main Container -->

	</body>
</html>
