<!DOCTYPE html>

<html ng-app="kittiesApp">
	<head>
		<meta charset="utf-8">

		<title>Save The Kitties!</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/normalize.css">
		<link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/style.css">

		<script src="js/angular.js"></script>
		<script src="js/main.js"></script>
		<script src="js/KittiesController.js"></script>
	</head>

	<body>
	<!-- Used to test the app & controller -->
	<!-- {{kitties.kittiesList}} -->
		<header>
			<h1>Save The Kitties!</h1>
		</header>
		<!-- Start Main Container -->
		<div id="container" ng-controller="KittiesController as kitties">

			<section class="left-container">
			<h1>Adoptable Kitties</h1>
				<ul>
					<li class="dashed" ng-repeat="kitty in kitties.kittiesList | filter:kitty.adopted=false">
						{{ kitty.catName }},
						{{ kitty.monthsOld }},
						{{ kitty.gender }}
						<img ng-src="{{kitty.image}}"><br>
						<input type="checkbox" ng-model="kitties.adopted">
					</li>
				</ul>
			</section><!-- End left Container -->

			<section class="right-container">
			<h1>Adopted Kitties</h1>
				<ul>
					<li class="dashed" ng-repeat="kitty in kitties.kittiesList | filter:kitty.adopted=true">
						{{ kitty.catName }},
						{{ kitty.monthsOld }},
						{{ kitty.gender }}
						<img ng-src="{{kitty.image}}"><br>
						<input type="checkbox" ng-model="kitties.adopted">
					</li>
				</ul>
			</section><!-- End Right Container -->

		</div> <!-- End Main Container -->

	</body>
</html>
